<html>

<div class="topnav">
    <a href="/database/home">Home</a>
    <a href="/database/database-search">Database Search</a>
    <a href="/database/how-to">How To</a>
    <a href="/database/about">About</a>
  </div>

<header>Southwest Oral Histories</header>

<body>
    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit">Search</button>

        <button><a href="{% url 'database-search' %}"> Clear selections </a></button>
    </form>

    <ul>

        

            <table> 
                <thead>
                    <th>Narrator</th>
                    <th>Year</th>
                </thead>
                {% for entry in filter.qs %}
                    <table>
                        <tr>
                            <td> {{ entry.narrator}} </td>
                            <td> - {{ entry.year }} </td>
                            <td> <button><a href="/database/oral-history/{{entry.id}}"> See more </a></button> </td>
                        </tr> 
                    </table> 
            </table>

        {% empty %}

            <li> No matching oral history. </li>
        
        {% endfor %}
    </ul>
</body>



</html>