<html>

<div class="topnav">
    <a href="/database/home">Home</a>
    <a href="/database/database-search">Database Search</a>
    <a href="/database/how-to">How To</a>
    <a href="/database/about">About</a>
  </div>

<header>Southwest Oral Histories</header>

<body>
    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit">Search</button>

        <button><a href="{% url 'database-search' %}"> Clear selections </a></button>
    </form>

    <ul>
        {{ filter.qs.count }} Oral Histories Found
            <table> 
                {% for entry in filter.qs %}
                    <table>
                        <tr>
                            <td> {{entry.institution}} </td>
                            <td> - {{ entry.narrator}} </td>
                            {% if entry.year is None %}
                                <td> - No Date </td>
                            {% else %}
                                <td> - {{ entry.year }} </td>
                            {% endif %}
                            <td> <button><a href="/database/oral-history/{{entry.id}}"> See more </a></button> </td>
                        </tr> 
                    </table> 
            </table>
        
        {% endfor %}
    </ul>
</body>



</html>