{% load static %}
<html style="background-color:rgb(255, 255, 255); font-family:var(--sl-font-sans)">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css" />
        <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace.js" ></script>
        <style>
            .hover-link {
                text-decoration: none; 
            }
            .hover-link:hover {
                text-decoration: underline; 
            }
            body {
                padding:0;
                margin:0;
            }


        </style>
    </head>
    <div style="background-color:var(--sl-color-primary-600); margin: 0; padding:0; color:var(--sl-color-primary-50); width:100%"> 
        <header style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size:50; text-align:center; padding-top:20; padding-bottom:10;
        text-shadow:2px 2px 3px black">Southwest Colorado Oral Histories</header>
        <div style="background-color:var(--sl-color-primary-600); padding-bottom:20; box-shadow:var(--sl-shadow-large)">
            <div style="display:flex; align-items:center; height:2rem;
            font-size:20; background-color:var(--sl-color-primary-50); height:50px; width:550px; align-items:center; 
            text-align:center; margin:auto; color:var(--sl-color-primary-500); box-shadow:0 0 4px 1px;"> 
                <ul class="no-indent" style="padding:15;">
                <a class="hover-link" href="/home" style="color:black">Home</a> &nbsp;|&nbsp; 
                <a class="hover-link" href="/database-search" style="color:black">Database Search</a>  &nbsp;|&nbsp; 
                <a class="hover-link" href="/how-to" style="color:black">How To</a>  &nbsp;|&nbsp;
                <a class="hover-link" href="/about" style="color:black">About</a> &nbsp;|&nbsp;
                <a class="hover-link" href="/take-part" style="color:black">Take Part</a> </ul>
        
        </div></div></div>
        <div style="padding-left: 15px; padding-right: 10px;">
<body  style="font-size: 18;">
    <p>
        <b>Entry ID:</b> {{ entry.id }}
    </p>
    <p>
       <b>Institution:</b> {{ entry.institution }}
       {% if entry.institution == "Animas Museum" %}
                <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Website:</b> <a href="https://animasmuseum.org" target="_blank" style="color: blue;">animasmuseum.org</a></li>
                <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Email:</b> <a href="mailto:info@animasmuseum.org">info@animasmuseum.org</a></li>
                <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Research Request Form:</b> <a href="https://docs.google.com/forms/d/e/1FAIpQLScCPwVmfL7iw181_lMEwNJTHS7EH3YnDqrTWHFvV_eZmQM6rg/viewform?pli=1"
                target="_blank" style="color: blue;">Click Here</a></li>
                <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Phone:</b> 970-259-2402</li>
        {% elif entry.institution == "Center of Southwest Studies" %}
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Website:</b> <a href="https://swcenter.fortlewis.edu/" target="_blank" style="color: blue;">swcenter.fortlewis.edu</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Contact Emails:</b> <a href="https://swcenter.fortlewis.edu/about/about-the-csws/our-staff">Staff List</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Phone:</b> 970-247-7456</li> 
        {% elif entry.institution == "Denver Public Library" %}
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Website:</b> <a href="https://history.denverlibrary.org/" target="_blank" style="color: blue;">history.denverlibrary.org</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Email:</b> <a href="mailto:history@denverlibrary.org">history@denverlibrary.org</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Phone:</b> 720-865-1111</li>   
        {% elif entry.institution == "Dolores Public Library" %}
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Website:</b> <a href="https://www.doloreslibrary.org/" target="_blank" style="color: blue;">doloreslibrary.org</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Contact Form:</b> <a href="https://www.doloreslibrary.org/contact-us">Click Here</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Phone:</b> 970-882-4127</li> 
        {% elif entry.institution == "Durango Native Stories" %}
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Website:</b> <a href="https://durangonative.com/stories/" target="_blank" style="color: blue;">durangonative.com/stories/</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Email:</b> <a href="mailto:JTurner@DurangoNative.com">JTurner@DurangoNative.com</a></li>  
        {% elif entry.institution == "Durango Public Library" %}
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Website:</b> <a href="https://www.durangoco.gov/1749/Library" target="_blank" style="color: blue;">durangoco.gov/1749/Library</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Contact Form:</b> <a href="https://seeclickfix.com/web_portal/CeP5cTxgq3DTPLKdnQXHuDge/report/category/65334/location/no-location/questions">Click Here</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Phone:</b> 970-375-3380</li> 
        {% elif entry.institution == "Hinsdale County Historical Society" %}
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Website:</b> <a href="https://lakecitymuseum.com/" target="_blank" style="color: blue;">lakecitymuseum.com</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Email:</b> <a href="mailto:hinsdalechs@gmail.com">hinsdalechs@gmail.com</a></li>  
        {% elif entry.institution == "History Colorado" %}
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Website:</b> <a href="https://www.historycolorado.org/research" target="_blank" style="color: blue;">historycolorado.org/research</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Email:</b> <a href="mailto:cosearch@state.co.us">cosearch@state.co.us</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Phone:</b> 303-866-2305</li> 
        {% elif entry.institution == "Ignacio Library" %}
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Website:</b> <a href="https://www.ignaciolibrary.org/" target="_blank" style="color: blue;">ignaciolibrary.org</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Email:</b> <a href="mailto:generaldelivery@ignaciolibrary.org">generaldelivery@ignaciolibrary.org</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Phone:</b> 970-563-9287</li> 
        {% elif entry.institution == "KVNF" %}
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Website:</b> <a href="https://www.kvnf.org/" target="_blank" style="color: blue;">kvnf.org</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Phone:</b> 970-527-4866 </li> 
        {% elif entry.institution == "Mancos Public Library" %}
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Website:</b> <a href="https://www.mancoslibrary.org/" target="_blank" style="color: blue;">mancoslibrary.org</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Email:</b> <a href="mailto:info@mancoslibrary.org">info@mancoslibrary.org</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Phone:</b> 970-533-7600</li> 
        {% elif entry.institution == "Montezuma Heritage Museum" %}
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Website:</b> <a href="https://montezumamuseum.org/" target="_blank" style="color: blue;">montezumamuseum.org</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Email:</b> <a href="mailto:execdirector@montezumamuseum.org">execdirector@montezumamuseum.org</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Phone:</b> 970-516-1100</li> 
        {% elif entry.institution == "Ouray County Ranch History Museum" %}
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Website:</b> <a href="https://www.ocrhm.org/" target="_blank" style="color: blue;">ocrhm.org</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Email:</b> <a href="mailto:ocrhm.museum@gmail.com">ocrhm.museum@gmail.com</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Phone:</b> 970-316-1085</li>     
        {% elif entry.institution == "Pine River Public Library" %}
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Website:</b> <a href="https://www.prlibrary.org/" target="_blank" style="color: blue;">prlibrary.org</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Email:</b> <a href="mailto:librarian@prlibrary.org">librarian@prlibrary.org</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Phone:</b> 970-884-2222</li> 
        {% elif entry.institution == "Rico Historical Society" %}
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Email:</b> <a href="mailto:deanna@ricohistory.org">deanna@ricohistory.org</a></li> 
        {% elif entry.institution == "Ridgway Public Library" %}
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Website:</b> <a href="https://www.ridgwaycolibrary.org/" target="_blank" style="color: blue;">ridgwaycolibrary.org</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Email:</b> <a href="mailto:ridgwaylibrary@yahoo.com">ridgwaylibrary@yahoo.com</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Phone:</b> 970-626-5252</li> 
        {% elif entry.institution == "San Juan County Historical Society" %}
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Website:</b> <a href="https://sanjuancountyhistoricalsociety.org/" target="_blank" style="color: blue;">sanjuancountyhistoricalsociety.org</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Email:</b> <a href="mailto:archives@sanjuancountyhistoricalsociety.org">archives@sanjuancountyhistoricalsociety.org</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Contact Form:</b> <a href="https://sanjuancountyhistoricalsociety.org/contact.html"
            target="_blank" style="color: blue;">Click Here</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Phone:</b> 970-387-5609</li>
        {% elif entry.institution == "Telluride Historical Museum" %}
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Website:</b> <a href="https://www.telluridemuseum.org/" target="_blank" style="color: blue;">telluridemuseum.org</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Email:</b> <a href="mailto:molly@telluridemuseum.org">molly@telluridemuseum.org</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Contact Form:</b> <a href="https://www.telluridemuseum.org/contact/"
            target="_blank" style="color: blue;">Click Here</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Phone:</b> 970-728-3344</li>
        {% elif entry.institution == "Wilkinson Public Library" %}
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Website:</b> <a href="https://telluridelibrary.org/" target="_blank" style="color: blue;">telluridelibrary.org</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Contact Form:</b> <a href="https://telluridelibrary.org/contact-us/"
            target="_blank" style="color: blue;">Click Here</a></li>
            <li style="padding-left: 10; padding-bottom: 3; font-size: 16;"><b>Phone:</b> 970-728-4519</li>
        {% endif %}
    </p>
    <p>
        <b>Medium(s):</b> {{entry.medium}}
    </p>
    <p>
        <b>Access:</b> {{entry.access}}
    </p>
    <p> 
       <b>Narrator:</b> {{ entry.narrator }}
    </p>
    <p> 
        {% if entry.day is None and entry.month is None and entry.year is None %}
            Date Unknown
        {% elif entry.day is None and entry.month is None %}
            <b>Date:</b> {{entry.year}}
        {% elif entry.day is None %}
            <b>Date:</b> {{ entry.month }} {{entry.year}}
        {% else %}
            <b>Date:</b> {{ entry.month }} {{ entry.day }}, {{entry.year}}
        {% endif %}
    </p>
    <p>
        {% if entry.link is not None %}
            <b>Link:</b> {{ updatedtext|safe }} 
            <!--{% for link in linktext %}
             <a href="{{ link }}" target="_blank" style="color: blue;">{{ link }}; </a>
             {% endfor %}
             <br> {{ entry.link }} /-->
        {% endif %}
    </p>
    <p>
        <b>Location Tags:</b> {{entry.location}}
    </p>
    <p>
        <b>Topic Tags:</b> {{entry.topic}}
    </p>
    <p>
        <b>Description:</b> {{ entry.description }}
    </p>
    <p><i>Last updated {{entry.date_updated }}</i></p>
</body>
</div>
<br>
    <br>
    <div style="text-align: center;">
    <img src="{% static 'logo.jpg' %}" width="300px">
</div>  
</html>