<html>
    <div class="topnav">
        <a href="/database/home">Home</a>
        <a href="/database/database-search">Database Search</a>
        <a href="/database/how-to">How To</a>
        <a href="/database/about">About</a>
      </div>   

    <p>
        Entry ID: {{ entry.id }}
    </p>
    <p>
        Insitution: {{ entry.institution }}
    </p>
    <p>
        Medium(s): {{entry.medium}}
    </p>
    <p>
        Access: {{entry.access}}
    </p>
    <p> 
       Narrator: {{ entry.narrator }}
    </p>
    <p> 
        {% if entry.day is None and entry.month is None and entry.year is None %}
            Date Unknown
        {% elif entry.day is None and entry.month is None %}
            Date: {{entry.year}}
        {% elif entry.day is None %}
            Date: {{ entry.month }} {{entry.year}}
        {% else %}
            Date: {{ entry.month }} {{ entry.day }}, {{entry.year}}
        {% endif %}
    </p>
    <p>
        Link: {{ entry.link }}
    </p>
    <p>
        Location Tags: {{entry.location}}
    </p>
    <p>
        Topic Tags: {{entry.topic}}
    </p>
    <p>
        Description: {{ entry.description }}
    </p>
    
    <button><a href="{% url 'database-search' %}"> Back To Database Search </a></button>
    <p>Note that this will clear your selections. To see your filtered list, just press "back."</p>
</html>